:root{
  --color0:#f3f9f8;
  --color1:#e7edec;
  --color2:#939f9f;
  --color3:#666e70;
  --color4:#454a4c;
  --color5:#322f31;
  --colorBTN:#007bff;
}

//   font-family: 'Oswald', sans-serif;
// font-family: 'Raleway', sans-serif;
.chat-container {
  font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 90vh;
    margin-top: 5VH;
  
    .chat-container-messages {
      flex-grow: 1;
      overflow-y: auto;
      padding: 15px;
      background-color: #fff;
  
      .ulList {
        list-style: none;
        padding: 0;
        .divElement{
          display: flex;
          align-items: baseline;
          transition: 0.3s;

          &-your{
            
            flex-direction: row-reverse;
            justify-content: right;
          }
          
          .liElement {
            margin-bottom: 10px;
            padding: 10px;
            background-color: var(--color0);
            border-radius: 4px;
            word-break: break-word;
            width: fit-content;
            margin-right: 5px;
            
            &-your{
              background-color: #7993a9;
              margin-left: 5px;
              margin-right: 0px;

            }
          }
          .pElement{
            visibility: hidden;
          }
  
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  
    .chat-container-form {
      display: flex;
      padding: 10px;
      background-color: var(--color1);
  
      .inputMessage {
        flex-grow: 1;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-right: 10px;
      }
  
      .btnSend {
        transition: 0.3s;
        padding: 10px 15px;
        background-color: var(--colorBTN);
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }