*{
    margin: 0;
    padding: 0;
    // background-color: $bialy;
    background-color:var(--color1);
}


// .color1 {color: #322f31;}
// .color2 {color: #454a4c;}
// .color3 {color: #666e70;}
// .color4 {color: #939f9f;}
// .color5 {color: #d3dcda;}

:root{
    --color0:#e7efee;
    --color1:#d0d7d6;
    --color2:#939f9f;
    --color3:#666e70;
    --color4:#454a4c;
    --color5:#322f31;
}

.pageContainer{
    width: 1200px;
    &-games{
        display: flex;
        // flex-direction: column;
    }
}