*{
    margin: 0;
    padding: 0;
    background-color: #454B50;
}
.pageContainer{
    width: 1200px;
    margin: 0 auto;
    h1 {
        font-size: 44px;
        text-align: center;
        letter-spacing: 1.4px;
        padding: 15px 20px;
        background-color: red;
    }
}